h1 {
    text-align: center;
}

.judo-1 {
    width: 500px;
    height: 600px;
    object-fit: cover;
    display: block;
    border-radius: 0 60px 0 0;
}

.judo-2 {
    width: 500px;
    height: 600px;
    object-fit: cover;
    display: block;
}

.judo-3 {
    width: 500px;
    height: 600px;
    object-fit: cover;
    display: block;
}

.judo-4 {
    width: 500px;
    height: 600px;
    object-fit: cover;
    display: block;
    border-radius: 0 0 80px 0;
}

div {
    text-align: center;
}


.container {
    display: flex;
    align-items: center;
    gap: 260px;
}

.img-container {
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    margin-top: -100px;
}

form {
    font-size: 25px;
    ;
    margin-left: 12,5px;
}

button {
    font-size: 20px;
    border-radius: 25px;
}

input {
    font-size: 25px;
    border-color: black;
}

body {
    background-image: url(../imgs/black-white-background-with-tree\ \(1\).jpg);
    background-size: cover;
    background-position: 70% center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

input::placeholder {
    font-size: 20px;
}

.img_container {
    width: 500px;
    height: 1300px;
    margin-top: +800px;
}
button#signIn{
    background-color: rgb(5, 141, 252);
}
p#errorMessage{
    color: red;
}
