body {
    text-align: center;
}

.button {
    height: 50px;
    width: 100px;
}

.button-number {
    height: 50px;
    width: 100px;
    background-color: rgb(173, 224, 207);
}

.button-number.u66kg {
    margin-top: -10px;
}

img {
    height: 300px;
    width: 250px;
    display: block;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 10px;
}

video {
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.video-container {
    width: 400px;
    height: 300px;
    margin-right: 50px;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0;
}

.button-pair {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.container {
    display: flex;
    justify-content: center;
}

.main-container {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    justify-content: center;
}

body{
    text-align: center;
    background-image: url(../imgs/Screenshot\ 2024-10-17\ 103936.jpg);
    background-size:cover ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{color: rgb(0, 0, 0);
font-size: 50px;}
.heading-container{
    display: flex;
    justify-content: center;
    gap: 300px;
    margin-right: 60px;
}